<div>
  <form>
    <p>
      <label for='burger'>Burger: </label>
      <input type='text' name='burger' id='burger'>
    </p>
    <p>
      <button id="addBurger">Add Burger</button>
    </p>
  </form>
</div>